#language-toggle {
    position: fixed;
    top: 60px; /* Zmieniona wartość top, aby przycisk był umieszczony poniżej */
    right: 20px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}
#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}
#logout {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}
.button {
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}
#fileInput {
    display: none; /* ukryj domyślny przycisk */
}
#fileInputLabel {
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}
/* Motyw jasny */
[data-theme="light"] {
    --background-color: #fff;
    --text-color: #000;
    --border-color: #000;
}
/* Motyw ciemny */
[data-theme="dark"] {
    --background-color: #000;
    --text-color: #fff;
    --border-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.lewy {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.prawy {
    margin-left: 30%; /* Ustawienie marginesu, aby uniknąć zasłaniania przez lewy div */
    padding: 20px;
    box-sizing: border-box;
}

/* Wyczyszczenie floatów */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.error-message {
    color: red;
}
.good-message {
    color: rgb(0, 255, 0);
}
/* Styl dla tabeli */
table {
    margin: 0 auto;
    text-align: center;
}

/* Styl dla nagłówków tabeli */
th {
    text-align: center;
}
/* Styl dla komórek tabeli */
table td {
    text-align: center;
    border: 1px solid var(--border-color);; /* Dodajemy obramowanie 1px czarnym kolorem */
}
ul {
    list-style-type: none;
}