#language-toggle {
    position: fixed;
    top: 60px; /* Zmieniona wartość top, aby przycisk był umieszczony poniżej */
    right: 20px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}
#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}
#exit {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}
/* Motyw jasny */
[data-theme="light"] {
    --background-color: #f4f4f4;
    --text-color: #000;
    --border-color: #000;
}
/* Motyw ciemny */
[data-theme="dark"] {
    --background-color: #040404;
    --text-color: #fff;
    --border-color: #fff;
}
body { 
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn-login {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #45a049;
}

.register-link {
    margin-top: 15px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
.forgot-password-link {
    margin-top: 15px;
}

.forgot-password-link a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password-link a:hover {
    text-decoration: underline;
}
.error-message {
    color: red;
}
.good-message {
    color: rgb(0, 255, 0);
}
